.container-fluid
  .row
    .col-xs-10.col-xs-offset-1
      .row
        .col-xs-12
          %h2
            Bowl Games

      -if bowl_games.length > 0
        .row.view-header
          .col-xs-3
            Name
          .col-xs-3
            Matchup
          .col-xs-2
            Date
          .col-xs-1
            Time
          .col-xs-2
            Location
          .col-xs-1
            TV

        .row.fold-line
          .dark-line
          .light-line

        .row
          .col-xs-12.bowl-games
            -bowl_games.each do |bowl_game|
              = render :partial => "bowl_game", :locals => {:bowl_game => bowl_game}
