%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      =link_to "Lepley Family Bowl Pickem", root_path, class: "navbar-brand"
      
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Bowl Games", bowl_games_path
        %li
          %a{:href => ""} Standings

      %ul.nav.navbar-nav.navbar-right
        %li
          -if !user_signed_in? 
            = link_to "Sign In", new_user_session_path
          -else
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
